<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
       <ion-back-button text ="" icon="close" defaultHref="/tabs/(home:home)"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form id="task-form" (submit)="addTask()" (keyup.enter)="addTask()">
    <ion-input type="text" placeholder="add a task" [(ngModel)]="taskInput" name="task-input" clearInput></ion-input>
    <ion-button type="submit" color="success" fill="solid" expand="block">
      SAVE
    </ion-button>
  </form>
</ion-content>
