<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>{{title}}</h1> agular use double brasket , the title in homepage.ts
  <ion-list>
    <ion-item>
      <ion-label position="floating">Add a fruit name</ion-label>
      <ion-input type="text" [(ngModel)]="taskInput"></ion-input>
    </ion-item>
      <ion-button size="large" ion-button color="primary" fill="outline"(click)="addTask()">Add</ion-button>
  </ion-list>
  <h3 *ngFor="let task of tasks">
    {{task.name}} <br>
    {{task.date}} <br>
    
   </h3>
</ion-content>
