<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf=" !tasks.length">
      No task
    </ion-item>

    <ion-item-sliding *ngFor="let task of tasks" (click)="changeStatus(task.date)" [class.done]="task.status" >
      <ion-item>
        <ion-checkbox *ngIf="task.status; else conditionFalse" checked slot="end"></ion-checkbox>
        <ng-template #conditionFalse><ion-checkbox slot="end"></ion-checkbox></ng-template>
        <ion-label>
          <h2>{{task.name}}</h2>
          <p>{{formatDate(task.date)}}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end" (ionSwipe)="deleteItem(task.date)">
        <ion-item-option color="danger" (click)="deleteItem(task.date)" expandable>Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
   <ion-fab-button href="/tabs/(home:list)" router-direction="forward" >
     <ion-icon name="add"></ion-icon>
   </ion-fab-button>
 </ion-fab>
</ion-content>
