$item-padding: 1em;
ion-img.logo{
  max-width: 40px;
}
ion-toolbar{
  color:#FFFFFF;//text change color
  --background:#FF8040;
}
ion-title{
  text-align:center;
}
ion-content{
  --background:#FFEBE8;
}
ion-fab-button{
  --background:#8080FF;
}
ion-icon{
  color:#0000FF;
}
ion-checkbox{
  --checkmark-color:green;
  --background-checked:white;
  --border-color-checked:green;
  --border-width:3px;
}
ion-item.task{
  --background:lightyellow;
  --inner-padding-start: $item-padding;
  --inner-padding-end: $item-padding;
  --inner-padding-top: $item-padding;
  --inner-padding-bottom: $item-padding;
}
ion-item-sliding.done{
  --background:aliceblue;
  opacity: 0.5;
  ion-label{
    h2{
      text-decoration: line-through;
    }
  }
}
ion-item h2.name{
  font-weight: 400;
}
ion-item{
  ion-checkbox{
    button{
      width:60%;
    }
  }
  ion-button{
    position: relative;
    z-index:999999;
  }
}
